<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Search Test Suite" thread-count="2" parallel="tests">
    <test name="Search Test - Google Pixel 6">
        <parameter name="deviceIndex" value="0"/>
        <classes>
            <class name="com.browserstack.example.SearchTest"/>
        </classes>
    </test>

    <test name="Search Test - Samsung Galaxy S21">
        <parameter name="deviceIndex" value="1"/>
        <classes>
            <class name="com.browserstack.example.SearchTest"/>
        </classes>
    </test>
</suite>